
// Buttons
// -------------------------------------
a.btn,
.btn {
  display: inline-block;
  background-image: none;
  cursor: pointer;
  padding: .5em 1.5em;
  margin: 20px 0;
  font-size: 1.1em;
  text-align: center;
  border: 1px solid hsla(0,0,0,.1);
  text-align: center;
  border-radius: 100em;
  @include btn($light-grey, $dark-text);
  transition: .3s;
  &:hover,
  &:focus,
  &:active {
    background: darken($light-grey, 5%);
  }
  &__center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &--teal {
    @include btn($teal, $light-text);
    &:hover,
    &:focus,
    &:active {
      background: darken($teal, 5%);
    }
  }
  &--orange {
    @include btn($orange, $light-text);
    &:hover,
    &:focus,
    &:active {
      background: darken($orange, 5%);
    }
  }
  &--red {
    @include btn($red, $light-text);
    &:hover,
    &:focus,
    &:active {
      background: darken($red, 5%);
    }
  }
}
a.btn-round,
.btn-round {
  display: inline-block;
  @include btn(white, black);
  border: 2px solid black;
  font-size: .9em;
  text-align: center;
  width: 85px;
  height: 40px;
  border-radius: 100em;
  padding: 5px 5px 8px;
  cursor: pointer;
  &.blue {
    @include btn($blue, white);
    border: 2px solid white;
  }
}

.btn-round.blue {
  svg {
    position: relative;
    left: .09em;
    top: .08em;
    font-size: 1.1em;
    transition: .2s ease-in-out;
  }
  &:hover,
  &:focus {
    svg {
      left: .25em;
    }
  }
  &.close {
    svg {
      left: auto;
      right: .09em;
    }
    &:hover,
    &:focus {
      svg {
        left: auto;
        right: .25em;
      }
    }
  }
}

// Tables
// ----------------------------------------
.table {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
table {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  margin: 20px 0;
}
thead {
  background: $light-grey;
}
th, td {
  padding: .5em 1em;
}
.bordered {
  th, td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    &:last-child {
      border-right: none;
    }
  }
}
.striped {
  tbody {
    tr:nth-child(even) td {
      background-color: #fafafa;
    }
  }
}

// code
//----------------------------------------------------------------------
// Inline and block code styles
code,
pre,
samp {
  font-family: $font-family-monospace;
}

// Inline code
code {
  padding: $code-padding-y $code-padding-x;
  font-size: $code-font-size;
  color: $code-color;
  background-color: $code-bg;
  border-radius: 4%;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    padding: 0;
    color: inherit;
    background-color: inherit;
  }
}


// Blocks of code
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: $code-font-size;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}


// Forms
//--------------------------------------------------------
.iam-login {
  background: $blue;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: white;
    text-align: center;
    margin: 1em;
  }
  .form-wrap {
    align-self: center;
    width: 30em;
    max-width: 100%;
    min-height: 15em;
  }
  .logo {
    margin-top: 6em;
    align-self: center;
  }
}

.form-wrap {
  display: flex;
  margin: 2em 0;
  &.center {
    justify-content: center;
    align-items: center;
  }
}
form {
  display: flex;
  flex-direction: column;
  background: $light-grey;
  border-radius: .5em;
  padding: 40px 30px;
  button {
    max-width: 15em;
    width: 100%;
  }
  &.center {
    align-self: center;
  }
  &.login {
    max-width: 35em;
    width: 100%;
    justify-content: center;
    align-items: center;
    .forgot-pw {
      color: #888;
      font-size: .9em;
      font-weight: 400;
      text-decoration: none;
      transition: color .3s ease;
      &:hover,
      &:focus {
        color: #666;
      }
    }
  }
}
.form-group {
  max-width: 25em;
  width: 100%;

  label,input {
    display: inline-block;
  }

  label {
    font-size: 1.2em;
    font-weight: 400;
    padding: .5em 0;
  }
  input {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 1.5em;
    font-size: .9em;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: #fff;
    &::placeholder {
      color: #bbb;
    }
  }



  &__center {
    align-content: center;
    justify-content: center;
    label {
      text-align: center;
    }
  }
}

// Alerts
// --------------------------
.alert {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  &.warning {
    background: rgba(255,258,190,.8);
    color: black;
  }
  &.danger {
    background: rgba(255,99,71,.8);
    color: white;
  }
  &.success {
    background: rgba(60,179,113,.8);
    color: white;
  }
}

// Content Utilities
// ---------------------------------
.data-group {
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.6em;
  &.inline {
    .label,
    .data {
      display: inline-block;
    }
  }
  &.block {
    .label,
    .data {
      display: block;
    }
  }
  .label {
    padding-right: .5em;
    font-weight: 700;
  }
}

.card {
  border: 2px solid black;
  background: white;
  color: black;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.5em;
  .card-header {
    border-bottom: 3px solid black;
    padding: 0;
    margin: 0;
    h4 {
      font-size: 1.1em;
      text-align: left;
      padding: .8em 1em;
    }
  }
  p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.4em;
    padding: 1em;
  }
  .card-link {
    border-top: 2px dashed black;
    display: block;
    margin-top: auto;
    a {
      color: black;
      display: block;
      text-align: right;
      padding: .5em 1em;
      text-decoration: none;
      cursor: pointer;
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }
  }
  &:hover,
  &:focus {
    .card-link {
      svg {
        position: relative;
        left: 2px;
      }
    }

  }
}
