footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: black;
  font-size: 0.9rem;
  img {
    width: 75px;
    height: auto;
    margin: 40px auto;
  }
  small {
    color: $light-text;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
  }
}
