header {
  height: 90px;
  .nav-top {
    height: 90px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    max-width: $container-max;
    background: white;
    border-bottom: 2px solid black;
    padding: $layout-pad-sm;
    .logo {
      display: block;
      text-indent: -10em;
      text-transform: uppercase;
      background-image: url(../images/GMC_Wordmark_2008_RGB.jpg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 8em;
      height: 2em;
      min-width: 100px;
    }
    .logout {
      display: inline-block;
      font-size: 1.1em;
      svg {
        font-size: 1.1em;
        padding-left: .2em;
      }
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
    .menu-btn {
      display: inline-block;
      @extend .btn-round;
      svg.fa-angle-down {
        display: inline-block;
      }
      svg.fa-angle-up {
        display: none;
      }
      svg {
        position: relative;
        top: .1em;
        font-size: 1.3em;
        transition: .3s ease-in-out;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        svg {
          top: .2em;
        }
      }
      &.close {
        svg.fa-angle-down {
          display: none;
        }
        svg.fa-angle-up {
          display: inline-block;
        }
        svg {
          top: .1em;
        }
        &:hover,
        &:focus {
          cursor: pointer;
          svg {
            top: 0;
          }
        }
      }
    }
  }
  .search {
    display: none;
    //margin-top: 4em;
    max-width: 350px;
    display: flex;
    align-self: center;
    input {
      // fixes height bug in safari
      -webkit-appearance: none;
      // --------------------------
      display: none;
      width: 30em;
      height: 40px;
      vertical-align: middle;
      border-radius: 100em 0 0 100em;
      background: white;
      border: none;
      color: black;
      font-size: .9em;
      padding: 12px 30px;
    }
    button {
      display: none;
      height: 40px;
      vertical-align: middle;
      width: 5em;
      border-radius: 0 100em 100em 0;
      text-align: center;
      background: $blue;
      border: none;
      color: white;
      font-size: 1em;
      transition: .3s ease-in-out;
      &:hover,
      &:focus {
        cursor: pointer;
        background: darken($blue, 5%);
      }
    }
  }
  .nav-bottom {
    position: relative;
    height: 0;
    transition: height .4s ease-in-out;
    justify-content: space-between;
    background: black;
    color: white;
    .back-to-hsdp {
      display: none;
    }
    .nav-links {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      margin:  5% auto 5%;
      padding: 0;
      width: 100%;
      li {
        list-style: none;
        padding: 2.5em 0;
        border-bottom: 2px solid $blue;
        text-align: center;
        &:last-child {
          border-bottom: none;
        }
        a {
          text-decoration: none;
          color: $light-text;
          font-size: 1.2em;
        }
      }
    }
    &.open {
      z-index: 1;
      height: auto;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center;
      .search {
        //display: flex;
        input,
        button {
          //display: inline;
        }
      }
      .back-to-hsdp {
        display: inline-block;
        align-self: flex-start;
        min-width: 100px;
        margin-left: 2em;
        text-align: left;
        line-height: 3.5em;
        color: white;
        svg {
          position: relative;
          top: -6px;
        }
      }
      .nav-links {
        display: flex;
      }
    }
  }
}

@media(min-width: $media-small) {

}

@media(min-width: $media-large) {
  header {
    height: auto;
    .nav-top {
      padding: $layout-pad-lg;
      border-bottom: none;
    }
    .nav-top button.menu-btn {
      display: none;
    }
    .nav-bottom,
    .nav-bottom.open {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 3.5em;
      padding: 0 3em;

      .back-to-hsdp {
        display: inline-block;
        align-self: flex-start;
        min-width: 120px;
        vertical-align: middle;
        text-align: left;
        line-height: 3.5em;
        color: white;
        margin: 0;
        padding: 0;
        svg {
          position: relative;
          top: -6px;
        }
        &:hover,
        &:focus {
          text-decoration: none;
          svg {
            left: -2px;
          }
        }
      }

      .search {
        order: 2;
        margin: 0;
        display: flex;
        input,button {
          display: inline;
        }
      }

      .nav-links {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        li {
          border: none;
          margin: 0;
          padding: 0;
          height: 100%;
          line-height: 3.5em;
          &:hover,
          &:focus,
          &.active {
            border-bottom: 3px solid $blue;
          }
          a {
            margin: 0 2em;
            display: inline-block;
            font-size: 1em;
            font-weight: 300;
            &:last-child {
              padding-right: 0;
            }
            &.active {
              background: $blue;
            }
          }
        }
      }
    }
  }
}
