
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $light-grey;
}

body {
  background: white;
  max-width: $container-max;
  min-height: 100%;
  padding: 0;
  margin: 0 auto;
}

header,
footer {
  /* needed for the floated layout */
  clear: both;
}

.wrapper {
  height: 100%;
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
}

// .content {
//   position: relative;
//   top: 0;
//   margin: 0 auto;
// }


footer {
  height: 30em;
}

.content-wrap {
  padding: $content-pad-sm;
  overflow-y: scroll;
}
// Responsive breakpoints
// ------------------------------------

// Small breakpoint
@media (min-width: $media-small) {
  .content-wrap {
    padding: $content-pad-lg;
  }
}

@media (min-width: $media-large) {
  .wrapper.sb-layout{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:  0;
  }
  header,
  footer {
    grid-column: 1 / -1;
  }
}
