// Login styles
.back-to-hsdp {
  display: block;
  padding: 1.5em 2em;
  font-size: 1.1em;
  color: black;
  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    svg {
      position: relative;
      left: -2px;
    }
  }
}

// Home page styles
.iot-bg {
  background:
    linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)),
    url('/images/ODLI20160930_001-MP4-nl_NL-lighting_city_loop.jpeg');
    //, url('/images/iot-bg.jpg')
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5em 2em;
  color: white;
  h1, p { text-align: center }
}

.panel {
  padding: 5em 2em;
  &.blue {
    background: $blue;
    color: white;
  }
}

@media (max-width: $media-small) {
  .iot-bg {
    h1 {
      font-size: 1.6em;
    }
  }
}
