.content-top-bar {
  display: flex;
  background: $blue;
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 1.5em;
  justify-content: start;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
  transition: left .4s ease;
  h5 {
    margin-left: 1.5em;
  }
  &.sidebar-open {
    left: 100%;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: $blue;
  color: white;
  transition: transform .6s ease;
  width: 100%;
  max-width: 25em;
  height: 100%;
  overflow-y: scroll;
  transform: translateX(-30em);
  &.open {
    transform: translateX(0);
  }
  .btn-round.blue.close {
    align-self: flex-end;
    margin: 1.5em;
  }
  .sidebar-links {
    border-top: 2px solid white;
    width: 100%;
    margin-top: 0;
    padding: 0;
    li {
      display: block;
      width: 100%;
      list-style: none;
      color: white;
      text-align: center;
      font-size: 1.1em;
      font-weight: 400;
      padding: 1.5em .5em;
      margin: 0;
      &:hover,
      &:focus,
      &:active,
      &.active {
        cursor: pointer;
        background: darken($blue, 5%);
      }
    }
  }

}

// Responsive breakpoints
// ------------------------------------

// Small breakpoint
@media (min-width: $media-large) {
  .sidebar {
    position: static;
    display: flex;
    flex-direction: column;
    flex: 0;
    max-width: 100%;
    width: 25em;
    height: 100%;
    overflow-y: scroll;
    transform: translateX(0);
    .btn-round.blue.close {
      display: none;
    }
    .sidebar-links {
      border-top: none;
    }
  }
  .content-top-bar {
    display: none;
  }
}
