
html {
  font: 400 16px/26px $sans-serif;
  color: $dark-text;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 2.2em;
  line-height: 1.4em;
}

h2 {
  font-size: 2em;
  line-height: 1.4em;
}

h3 {
  font-size: 1.8em;
  line-height: 1.4em;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.1em;
  line-height: 1em;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  //max-width: 45em;
}


// Padding helper classes
// ------------------------
.padTopBotSmall {
  padding: 1em 0 .5em;
}
