// Colors
$blue: #4A90E2;
$orange: #e98300;
$red: #cd202c;
$light-grey: #e5e5e5;
$teal: #1E9D8B;


// Typography
$sans-serif: 'Nunito Sans', sans-serif;
$font-family-monospace:  "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$dark-text: #333;
$light-text: #fff;

// Code
$code-font-size:              90%;
$code-padding-y:              .2rem;
$code-padding-x:              .4rem;
$code-color:                  #bd4147;
$code-bg:                     #eee;

$pre-color:                   #600;
$pre-scrollable-max-height:   340px;


// layout
$container-max: 1600px;
$layout-pad-sm: 1em 2em;
$layout-pad-lg: 2em 3em;
$content-pad-sm: 2em;
$content-pad-lg: 3em;

// media widths & heights
$media-small: 420px;
$media-medium: 760px;
$media-large: 1020px;
